# update with required information and save it as
#	setup.config file
[psqldb]
host=
port=5432
database=
user=
password=

[reddit]
client_id=
client_secret=
username=
rpassword=
user_agent=

[service]
APP_SECRET_KEY=
CSRF_PROTECTION_KEY=
DJANGO_SECRET_KEY=
ENCRYPTION_KEY=
ENDPOINT_URL=
IDENTITY=
JWT_SECRET_KEY=
LLMS=
OLLAMA_API_URL=
PROC_WORKERS=
SRVC_SHARED_SECRET=
