# update with required information and save it as
#	setup.config file
[psqldb]
host=
port=5432
database=
user=
password=

[redis]
redis_host=
redis_port=
redis_password=

[reddit]
client_id=
client_secret=
username=
rpassword=
user_agent=

[service]
SRVC_NAME=
APP_SECRET_KEY=
CSRF_PROTECTION_KEY=
DJANGO_SECRET_KEY=
ENCRYPTION_KEY=
ENDPOINT_URL=
IDENTITY=
JWT_SECRET_KEY=
LLMS=
OLLAMA_API_URL=
PROC_WORKERS=
SRVC_SHARED_SECRET=

[otlp]
OTLP_ENDPOINT_URL=
COLLECT_GPU_STATS=True
PRICING_JSON=pricing.json

[external]
caching_srvc_login_url=
caching_srvc_crud_url=
caching_srvc_secret=
