{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail</title>
    <style>
        body {
            display: flex;
        }
        
        #left-column {
            width: 30%;
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: lightgray;
        }
        
        #right-column {
            width: 70%;
            margin-left: 30%;
            padding: 1em;
            overflow-y: scroll;
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <div style="display: flex;">
        <div id="left-column"><h3>Subreddit</h3><p>{{ data.subreddit | safe }}</p><h3>Post Body</h3><i><p>{{ data.post | safe }}</p></i></div>
        <div id="right-column"><h3>Analysis Documents</h3>{% for doc in data.analysis_docs %}
            <b>{{ doc.llm }}</b>
            <p>{{ doc.analysis | safe }}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>

